
<header>
  <nav>
    <ul>
      <li>
        <div class="dropdown">

          <button class="dropbtn"><img src="assets\img\menu.png" alt="Burger Icon"></button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div></li>
      <li class="title">    Mr. Skully Bones <img src="assets\img\nahh-nah.gif" alt="User Image" class="user-icon1"> </li>
      <li><a class="hover_button" routerLink="/" routerLinkActive="active">HOME<img class="hiddenImg" src="assets\img\skull-skeleton.gif" alt="Hidden Image"></a></li>
      <li><a class="hover_button" routerLink="/about" routerLinkActive="active">ABOUT<img class="hiddenImg" src="assets\img\skull-skeleton.gif" alt="Hidden Image"></a></li>
      <li><a class="hover_button" routerLink="/contact" routerLinkActive="active">CONTACT<img class="hiddenImg" src="assets\img\skull-skeleton.gif" alt="Hidden Image"></a></li>
    </ul>
  </nav>
  <div>
    <div class="dropdown">
      <button class="user-button"><img src="assets\img/ms-wake-up.gif" alt="User Image" class="user-icon"></button>
      <div class="dropdown-content">
        <a href="#" id="signin-btn">Sign In</a>
        <a href="#" id="signout-btn">Sign Out</a>
      </div>
    </div>



  </div>

</header>


