<header *ngIf="showNavBar">
  <nav>
    <ul>
      <li>
        <div class="dropdown">
          <button class="dropbtn" aria-label="Menu">
            <img src="assets/img/menu.png" alt="Burger Icon">
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </li>
      <li class="title">Mr. Skully Bones
        <img src="assets/img/nahh-nah.gif" alt="User Image" class="user-icon1">
      </li>
      <li>
        <a class="hover_button" routerLink="/home" routerLinkActive="active">
          HOME
          <img class="hiddenImg" src="assets/img/skull-skeleton.gif" alt="Hidden Image">
        </a>
      </li>
      <li>
        <a class="hover_button" routerLink="/about" routerLinkActive="active">
          ABOUT
          <img class="hiddenImg" src="assets/img/skull-skeleton.gif" alt="Hidden Image">
        </a>
      </li>
      <li>
        <a class="hover_button" routerLink="/contact" routerLinkActive="active">
          CONTACT
          <img class="hiddenImg" src="assets/img/skull-skeleton.gif" alt="Hidden Image">
        </a>
      </li>
    </ul>
  </nav>
  <div>
    <div class="dropdown">
      <button class="user-button" aria-label="User Menu">
        <img src="assets/img/ms-wake-up.gif" alt="User Image" class="user-icon">
      </button>
      <div class="dropdown-content user-dropdown">
        <div class="user_name">{{ loggedUser?.name }}</div>
        <button class="signin-btn" type="button" (click)="onLogOff()">Sign out</button>
      </div>
    </div>
  </div>
</header>
