<div class="wrapper">
  <div class="product_block">
    <div class="white_box1">
      <div class="free_ship1"> {{product?.productName}} <div class="product_price">  {{product?.price}}</div>
      </div>
    </div>
    <img [src]="product?.imageSrc">
  </div>
  <div class="product_discription"></div>
  <div class="choose_size">
    <button class="size_button" (click)="changeColor($event.target)">XS</button>
    <button class="size_button" (click)="changeColor($event.target)">S</button>
    <button class="size_button" (click)="changeColor($event.target)">M</button>
    <button class="size_button" (click)="changeColor($event.target)">L</button>
    <button class="size_button" (click)="changeColor($event.target)">XL</button>
    <button class="size_button" (click)="changeColor($event.target)">XLL</button>
  </div>
  <div class="product_detail_order">
    <button class="add_to_basket_button">ADAUGATI IN COSUL DE CUMPARATURI</button>
    <button class="add_to_favourite"></button>
    <div class="shiping_detail">

      <div class="white_box">
        <div class="free_ship">Ridicare de la magazin gratuit
          <div class="text_gratuit">GRATUIT</div>
        </div>
      </div>
      <div class="white_box">
        <div class="shiping_domiciliu">Livrarea standard domiciliu
          <div class="text_gratuit">GRATUIT</div>
        </div>
      </div>
    </div>
  </div>
  <div class="pictures_buttom">
    <div class="pictute_buttom"><img class="image_product" [src]="product?.imgButtom1" (click)="toggleAnimation()"></div>
    <div class="pictute_buttom"><img class="image_product" [src]="product?.imgButtom2" (click)="toggleAnimation()"></div>
    <div class="pictute_buttom"><img class="image_product" [src]="product?.imgButtom3" (click)="toggleAnimation()"></div>
  </div>
</div>
<div class="bottom_bar">
  <div class="info_produs">Compoziție, îngrijire și origine</div>
  <div class="info_produs">Livrări și returnări</div>
  <div class="info_produs">Disponibilitate în magazin</div>
</div>
