<div class="wrapper">
  <img src="assets/img/poste_shirt.png">
  <div class="product_discription"></div>
  <div class="choose_size">
    <button class="size_button">XS</button>
    <button class="size_button">S</button>
    <button class="size_button">M</button>
    <button class="size_button">L</button>
    <button class="size_button">XL</button>
    <button class="size_button">XLL</button>
  </div>
  <div class="product_detail_order">
  <button class="add_to_basket_button">ADAUGATI IN COSUL DE CUMPARATURI</button>
  <button class="add_to_favourite"></button>
    <div class="shiping_detail">
    <div class="white_box"><div class="free_ship">Ridicare de la magazin gratuit                 <div class="text_gratuit">GRATUIT</div> </div></div>
      <div class="white_box"><div class="shiping_domiciliu">Livrarea standard domiciliu          <div class="text_gratuit">GRATUIT</div> </div></div>
  </div>
  </div>
  <div class="pictures_buttom">
    <div class="pictute_buttom"><img class="image_product" src="assets/img/image_postee_one.png" onclick="maximazeImage()"></div>
    <div class="pictute_buttom"><img class="image_product" src="assets/img/postee2.png" onclick="maximazeImage()"></div>
    <div class="pictute_buttom"><img class="image_product" src="assets/img/postee_tree.png" onclick="maximazeImage()"></div>
  </div>
</div>
<div class="bottom_bar">
  <div class="info_produs">Compoziție, îngrijire și origine</div>
  <div class="info_produs">Livrări și returnări</div>
  <div class="info_produs">Disponibilitate în magazin</div>
</div>
